* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Snell Roundhand';
    scroll-behavior: smooth;
}

.hero {
    background: url(images/7566583.jpg);
    padding: 20px 0;
}

.hero_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 5%;
    text-align: center;
    padding: 20px;
}

.main_btn {
    font-size: 1rem;
    background-color: transparent;
    padding: 10px 5px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    outline: none;
    margin: 0 40px;
}

.main_btn a {
    position: relative;
    z-index: 2;
    color: rgb(255, 232, 57);
    text-decoration: none;
}

.main_btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 0.35s;
    background-color: rgba(1, 255, 35, 0.3);
    color: white;

    border-radius: 4px;
}

.main_btn:hover {
    color: white;
}

.main_btn:hover:after {
    width: 100%;
}

.main_btn_center {
    font-size: 0.9rem;
    background-color: transparent;
    padding: 10px 5px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    outline: none;
    margin: 0 76px;
}

.main_btn_center a {
    position: relative;
    z-index: 2;
    color: rgb(255, 232, 57);
    text-decoration: none;
}

.main_btn_center a:hover {
    position: relative;
    z-index: 2;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.main_btn_center:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
}

.main_btn_center:hover {
    color: white;
}

.main_btn_center:hover:after {
    width: 100%;
}

.highlight {
    border-bottom: 4px solid purple;
}


.services {
    background: rgb(140, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    padding: 10rem 0;
    position: relative;
}

.back-video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.services_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.services_card {
    margin: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 20%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 25%;
    color: black;
    background-color: white;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
    max-width: 300px;
    padding: 15px;
}

@media(min-aspect-ratio:16/9) {
    .services_card {
        width: 20%;
        height: auto;
    }
}

@media(min-aspect-ratio:16/9) {
    .services_card {
        width: auto;
        height: 60%;
    }
}

#announcement_btn {
    font-size: 0.9rem;
    background-color: green;
    padding: 10px 5px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    outline: none;
    margin: 25 40px;
    font-size: 16px;
    color: white;
}

#announcement_btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    /* transition: background-color 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.3); */
    color: white;
    border-radius: 4px;
}

#announcement_btn:hover {
    background-color: rgb(2, 84, 15);
    color: white;
}

#announcement_btn:hover:after {
    width: 100%;
}

#announcement_btn b {
    position: relative;
    z-index: 2;
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.programs {
    background: rgb(200, 0, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;
    padding: 6rem 0;
    position: relative;
}


.letter {
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;
    padding: 17rem 0;
    position: relative;
}

.image {
    position: absolute;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
}

.connect_card {
    margin: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 50%;
    position: absolute;
    top: 47%;
    left: 20%;
    color: black;
    background-color: transparent;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
    max-width: 450px;
    padding: 15px;
}

@media(min-aspect-ratio:16/9) {
    .connect_card {
        width: 100%;
        height: auto;
    }
}

@media(min-aspect-ratio:16/9) {
    .connect_card {
        width: auto;
        height: 50%;
    }
}

.email-form {
    display: flex;
    margin: 35px;
}

.email-input {
    flex: 1;
    border: 2px solid black;
    height: 38px;
    padding: 0 10px;
}

.submit-button {
    width: 120px;
    height: 38px;
    border: 2px solid black;
    background-color: white;
    color: black;
    border-left: none;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.submit-button:hover {
    background-color: green;
    color: white;
}


/* create a fixed position container for the navbar */
.navbar-container {
    z-index: 5;
    position: fixed;
    right: 0;
    height: 200px;
    width: 100px;
    border-radius: 6px;
    overflow-y: auto;
    /* add scrollbars if the content is taller than the container */
    background-color: rgb(137, 38, 187);
}

/* style the navbar links */
.navbar-link {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.navbar-link:hover {
    background-color: rgb(98, 26, 133);
    transition: all 0.3s ease;
}

@media only screen and (max-width: 1300px) {

    /* change the navbar to a horizontal layout */
    .navbar-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    /* make the navbar fixed to the bottom of the screen */
    .navbar-container {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    /* adjust the height of the navbar */
    .navbar-container {
        height: 50px;
    }

    /* adjust the styling of the navbar links */
    .navbar-link {
        text-align: center;
        /* add this line */
        font-size: 18px;
        color: white;
        bottom: 0;
    }
}

::selection {
    color: white;
    background: rgb(0, 101, 0);
}

::-moz-selection {
    color: white;
    background: rgb(0, 101, 0);
}

::-webkit-selection {
    color: white;
    background: rgb(0, 101, 0);
}



.mission {
    background: rgb(114, 114, 112);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 69%;
    padding: 10rem 0;
    position: relative;
}



#mission_donate_btn {
    font-size: 0.9rem;
    background-color: white;
    margin: 0 5px;
    padding: 10px 5px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    outline: none;
    font-size: 16px;
    color: rgb(0, 112, 4);
}

#mission_donate_btn:hover {
    background-color: rgb(0, 112, 4);
    color: white;

}

#mission_learn_more_btn {
    font-size: 0.9rem;
    background-color: transparent;
    border: 2px solid white;
    margin: 0 5px;
    padding: 10px 5px;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    outline: none;
    font-size: 16px;
    color: rgb(174, 255, 0);
}

#mission_learn_more_btn:hover {
    background-color: white;
    color: rgb(0, 0, 0);
}

.condorImage {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer_card{
    margin: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;
    height: 20%;
    position: absolute;
    top: 15%;
    left: 50%;
    color: black;
    background-color: white;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
    max-width: 1200px;
    padding: 15px;
}

.footerImages{
    position: absolute;
    object-fit: cover;
    max-height: 15%;
    max-width: 8.4%;
    top: 80px;
    right: 0%;
    bottom: 0%;
    left: 25%;
}

.footer{
    background-color:rgb(158, 0, 161);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    padding: 10rem 0;
    position: relative;
}

.footer_title{
    margin: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;
    height: 20%;
    position: absolute;
    top: 5%;
    left: 48%;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
    max-width: 600px;
    padding: 15px;
}
.footer_text1{
    margin: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 48%;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
    max-width: 600px;
    padding: 15px;
}
.footer_text2{
    margin: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: left;

    width: 60%;
    height: 10%;
    position: absolute;
    top: 82%;
    left: 37%;
    color: black;
    background-color: transparent;
    transform: translate(-50%, -50%);
    text-align: left;
    overflow: hidden;
    max-width: 600px;
    padding: 15px;
}

.slideshow img.active {
    z-index: 1;
    animation: fadeInOut 5s linear;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }